/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --grey-bg-color: #f5f4fa;
  --main-font-family: 'Roboto', sans-serif;
  --social-icon-color: #afb1b8;
  --black-icon-color: #000000;
}

.hero--centre, .hero__button, .box-form .btn-actions {
  margin-right: auto;
  margin-left: auto;
}

.list-example__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btn {
  cursor: pointer;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.page-header .link {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header .link {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header .link {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.logo__word--black {
  color: var(--black-icon-color);
}

.logo__word--white {
  color: var(--primary-white-color);
}

.btn-actions {
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  border: 0;
  align-items: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer .btn-actions {
  padding: 0;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer .btn-actions {
    display: inline-flex;
  }
}

.footer .btn-actions .btn-actions__icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.filter__btn {
  background-color: var(--grey-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-wrap: wrap;
    margin-left: 84px;
  }
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__link.link {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.hero__title {
  font-family: var(--main-font-family);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
  }
}

.section__title {
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  font-size: 28px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.social-icon {
  display: flex;
  justify-content: center;
}

.social-icon .social-icon__item {
  padding-bottom: 30px;
}

.social-icon .social-icon__item:not(:last-child) {
  margin-right: 10px;
}

.social-icon .social-icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon .social-icon__link:hover .social-icon__svg,
.social-icon .social-icon__link:focus .social-icon__svg {
  fill: var(--primary-white-color);
}

.social-icon .social-icon__link:hover, .social-icon .social-icon__link:focus {
  background-color: var(--accent-color);
}

.social-icon .social-icon__svg {
  width: 20px;
  height: 20px;
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-white-color);
  display: flex;
  flex-direction: column;
  z-index: 99;
  padding: 48px 40px;
}

.mobile-menu.is-open {
  left: 0;
}

.mobile-site-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-site-nav .mobile-site-nav__item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-contact {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-contact__item .contact__link {
  padding-top: 0;
  padding-bottom: 0;
}

.mobile-item-email {
  margin-top: 32px;
}

.mobile-item-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-item-phone .link {
  color: inherit;
}

.mobile-item-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-social__list {
  display: flex;
}

.mobile-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding: 0 10px;
  justify-content: flex-start;
}

.mobile-social__item:first-child {
  padding-left: 0;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__item .link {
  color: inherit;
}

.mobile-menu__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 100;
}

.mobile-menu__btn.is-open {
  position: static;
}

.mobile-menu__btn:hover .mobile-menu__icon,
.mobile-menu__btn:focus .mobile-menu__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__icon-menu {
  display: none;
}

.mobile-menu__btn.is-open .mobile-menu__icon-menu {
  display: block;
}

.mobile-menu__btn.is-open .mobile-menu__icon-close {
  display: none;
}

.hero {
  background-color: var(--secondary-bg-color);
  max-width: 1600px;
  background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero.jpg");
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to top left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero@2x.jpg");
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__button {
  padding: 10px 32px;
}

.section--without-indent {
  padding-bottom: 0;
}

.advantage__item {
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .advantage__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.advantage__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  font-family: var(--main-font-family);
  font-weight: 700;
  margin-bottom: 10px;
}

.advantage__box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--grey-bg-color);
  margin-bottom: 30px;
}

.advantage__icon {
  width: 70px;
  height: 70px;
  fill: var(--title-text-color);
}

.container--hidden {
  display: none;
}

@media screen and (min-width: 1200px) {
  .container--hidden {
    display: block;
  }
}

.list-example__item {
  position: relative;
}

.list-example__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 27px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.section--grey-command {
  background-color: var(--grey-bg-color);
}

.list__card {
  background-color: var(--primary-white-color);
  flex-basis: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .list__card {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .list__card {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .list__card {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.list__caption {
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.list__card .card-info {
  font-size: 16px;
  line-height: 1.19;
}

.list__text-card {
  padding-top: 30px;
  padding-bottom: 16px;
}

.list__text {
  text-align: center;
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .logo-list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.logo-list__item {
  flex-basis: 100%;
  margin-top: 30px;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .logo-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .logo-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .logo-list__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.logo-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border: 1px solid var(--social-icon-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-list__link:hover,
.logo-list__link:focus {
  border-color: var(--accent-color);
}

.logo-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-list__link:hover .logo-list__icon,
.logo-list__link:focus .logo-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer .container {
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.box-address {
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .box-address {
    text-align: left;
  }
}

.address {
  font-style: inherit;
}

.address-list--margin-top {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
  color: var(--primary-white-color);
}

.list-not-link {
  color: var(--primary-white-color);
}

.box-social {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .box-social {
    margin-left: 165px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .box-social {
    margin-left: 70px;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link:hover .footer-social__svg,
.footer-social__link:focus .footer-social__svg {
  fill: var(--primary-white-color);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

.title-footer {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 30.52px;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title-footer {
    text-align: left;
  }
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.box-subscribe {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .box-subscribe {
    margin-left: 90px;
  }
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .form-subscribe {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-subscripe__field {
  background-color: transparent;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-white-color);
  outline: none;
  padding-left: 16px;
  margin-bottom: 20px;
  max-width: 450px;
}

@media screen and (min-width: 1200px) {
  .form-subscripe__field {
    max-width: 358px;
    display: inlie-block;
  }
}

.form-subscripe__field:focus {
  border-color: var(--primary-white-color);
}

.form-subscripe__field:-webkit-autofill,
.form-subscripe__field:-webkit-autofill:hover,
.form-subscripe__field:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--primary-white-color);
  box-shadow: 0 0 0px 1000px var(--secondary-bg-color) inset;
}

.form-subscripe__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.filter {
  display: flex;
}

@media screen and (max-width: 767px) {
  .filter {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

.filter--margin {
  margin-bottom: 50px;
}

.filter__item {
  margin-top: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.headline-portfolio {
  padding: 20px 0 20px 24px;
  border-right: 1px solid var(--primary-white-color);
  border-bottom: 1px solid var(--primary-white-color);
  border-left: 1px solid var(--primary-white-color);
}

.headline-portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.headline-portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.portfolio__item {
  background: var(--primary-white-color);
  flex-basis: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio__link {
  display: block;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}

.portfolio__link:hover .overlay,
.portfolio__link:focus .overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 530px;
  }
}

.box-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.close {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
}

.close__icon {
  width: 18px;
  height: 18px;
  fill: var(--black-icon-color);
  background-color: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:focus .close__icon,
.close:hover .close__icon {
  fill: var(--accent-color);
}

.box-form {
  width: 100%;
  padding: 40px;
}

.modal__action {
  display: block;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal__text-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  position: relative;
}

.modal__field {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
}

@media screen and (min-width: 1200px) {
  .modal__field {
    width: 448px;
  }
}

.modal__field:focus, .modal__field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal__field:focus-within + .modal__icon-user {
  fill: var(--accent-color);
}

.modal__field:-webkit-autofill, .modal__field:-webkit-autofill:hover, .modal__field:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--black-icon-color);
  box-shadow: 0 0 0px 1000px var(--primary-white-color) inset;
}

.modal__icon-user {
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  position: absolute;
  left: 15px;
  top: 30px;
}

.feedback-field {
  box-sizing: border-box;
  resize: none;
  padding: 12px 16px;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .feedback-field {
    width: 448px;
  }
}

.box-checkbox {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.checkbox-label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.17;
  }
}

.checkbox-label::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  background-image: url("../images/vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-link {
  color: var(--accent-color);
  margin-left: 5px;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .checkbox-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.box-form .btn-actions {
  padding: 10px 55px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-form .btn-actions:hover, .box-form .btn-actions:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */