.btn-actions {
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  border: 0;
  align-items: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer .btn-actions {
  padding: 0;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  // @media screen and (min-width: 1200px) {
  //   display: inline-flex;
  // }

  .btn-actions__icon-send {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}

.filter__btn {
  background-color: var(--grey-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  @include cubic(all);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
