.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-white-color);
  display: flex;
  flex-direction: column;
  z-index: 99;
  padding: 48px 40px;

  &.is-open {
    left: 0;
  }
}

.mobile-site-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  .mobile-site-nav__item:not(:last-child) {
    padding-bottom: 32px;
  }
}
.mobile-contact {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-contact__item .contact__link {
  padding-top: 0;
  padding-bottom: 0;
}
.mobile-item-email {
  margin-top: 32px;
}
.mobile-item-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  .link {
    color: inherit;
  }
}

.mobile-item-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-social__list {
  display: flex;
}

.mobile-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding: 0 10px;
  justify-content: flex-start;

  &:first-child {
    padding-left: 0;
  }

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  .link {
    color: inherit;
  }
}

.mobile-menu__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 100;

  &.is-open {
    position: static;
  }

  &:hover .mobile-menu__icon,
  &:focus .mobile-menu__icon {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__icon-menu {
  display: none;
}
.mobile-menu__btn.is-open .mobile-menu__icon-menu {
  display: block;
}
.mobile-menu__btn.is-open .mobile-menu__icon-close {
  display: none;
}
