.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.page-header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.page-header .link {
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 36px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 35px;
  }
}
