html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px solid red;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.btn {
  cursor: pointer;
}
