@mixin cubic($property) {
  transition: $property 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin calcFor($count) {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - #{$count} * 30px) / #{$count});
}
