.section--grey-command {
  background-color: var(--grey-bg-color);
}

.list__card {
  background-color: var(--primary-white-color);
  flex-basis: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    @include calcFor(2);
  }

  @media screen and (min-width: 1200px) {
    @include calcFor(4);
  }
}
.list__caption {
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}
.list__card .card-info {
  font-size: 16px;
  line-height: 1.19;
}
.list__text-card {
  padding-top: 30px;
  padding-bottom: 16px;
}
.list__text {
  text-align: center;
}
