.hero {
  background-color: var(--secondary-bg-color);
  max-width: 1600px;
  background-image: linear-gradient(
      to top left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/bg-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero--centre {
  @extend %align-center;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__button {
  padding: 10px 32px;
  @extend %align-center;
}
