.filter {
  display: flex;
  justify-content: center;
}

.filter--margin {
  margin-bottom: 50px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

.headline-portfolio {
  padding: 20px 0 20px 24px;
  border-right: 1px solid var(--primary-white-color);
  border-bottom: 1px solid var(--primary-white-color);
  border-left: 1px solid var(--primary-white-color);
}
.headline-portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);

  margin-bottom: 4px;
}
.headline-portfolio__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.portfolio__item {
  background: var(--primary-white-color);
  @extend %calc-for-3;
}
.portfolio__link {
  display: block;
  border: 1px solid #eeeeee;
  @include cubic(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  transform: translateY(100%);
  @include cubic(transform);
}
.overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}
.portfolio__link:hover .overlay,
.portfolio__link:focus .overlay {
  transform: translateY(0);
}
